body, html {
  height: 100%;
  width: 100%;
}

body {
  background: #fafafa;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.prayer-card a,
.prayer-card a:hover {
  color: #fff;
}

.prayer-card {
  background: #396afc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 20px 30px;
  margin: 5px;
}

.prayer-card p {
  font-family: initial;
  font-weight: lighter;
}

.prayer-card {
    background: #000, #111;
}

.search-bar-area {
    padding: 50px 0;
}

input.form-control {
    border: none;
    padding: 20px;
    box-shadow: 0 0 20px -10px #000;
    font-size: 18px;
}

button.btn {
  background: #f85032;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: none;
  padding: 0 60px;
  font-size: 18px;
}

.error-msg {
  background: #f85032;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  padding: 15px 20px;
}

.footer {
  text-align: center;
  padding: 50px 0;
}
